.principalAppComida{

    &__testimoniales{
        h1 {
            text-align: center;

        }

     &__testimonios{
           
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap:15px;

            &__testimonio{
                p{
                    color:white;
                    text-align: center;
                }
                background-color: #455a64;
                border-radius: 3px;

                margin:10px;

                &:nth-child(1){
                    grid-column: 1/4;                    
                }
                &:nth-child(3){
                    grid-column: 5/6;
                    grid-row:1/3;
                   
                }

                &:nth-child(4){
                    grid-column:1/3;
                    
                   
                }

                &:nth-child(5){
                    grid-column:3/5;
                 
                   
                }  

                &__testimonio1_usuario{
                    display: flex;
                    justify-content: space-between;
                 

                    &__imagen{
                     
                        width:200px;
                       

            
                        
                        img{
                            width: 70px;
                            border-radius: 50%;
                            padding: 5px;
    
                        }

                       
                    }

                    &__descripcion-Imagen{
                        margin-left: 10px;
                
                       
                        &__titulo{
                            h2 {
                                color: white;
                                font-size: 15px;
                            }
                          
                        }

                        &__estrella{
                            margin-top: -20px;
                            width:390px;

                            img {
                                width: 35%;
                            }
                        }
                    }
                }      

                &__testimonio1_descripcion{
                    
                    p{
                      
                        padding: 5px;
                        font-size: 13px;
                        line-height: 1.5;

                    }
                }





                &__testimonio2_usuario{
                    display: flex;
                    justify-content: space-between;
                 

                    &__imagen{
                     
                        width:50px;
                       

            
                        
                        img{
                            width: 90%;
                            border-radius: 50%;
                            padding: 5px;
    
                        }

                       
                    }

                    &__descripcion-Imagen{
                        margin-left: 10px;
                
                       
                        &__titulo{
                            h2 {
                                color: white;
                                font-size: 15px;
                            }
                          
                        }

                        &__estrella{
                            margin-top: -20px;
                            width:80px;

                            img {
                                width: 80%;
                            }
                        }
                    }
                }      

                &__testimonio2_descripcion{
                    

                    p{
            
                        font-size: 13px;
                        line-height: 1.5;
                    }
                }


                &__testimonio3_usuario{
                    display: flex;
                    justify-content: space-between;
                 

                    &__imagen{
                     
                        width:50px;
                       

            
                        
                        img{
                            width: 90%;
                            border-radius: 50%;
                            padding: 5px;
    
                        }

                       
                    }

                    &__descripcion-Imagen{
                        margin-left: 10px;
                
                       
                        &__titulo{
                            h2 {
                                color: white;
                                font-size: 15px;
                            }
                          
                        }

                        &__estrella{
                            margin-top: -20px;
                            width:80px;

                            img {
                                width: 80%;
                            }
                        }
                    }
                }      

                &__testimonio3_descripcion{
                    

                    p{
            
                        font-size: 14px;
                        line-height: 1.5;
                        padding: 20px;
                    }
                }


                &__testimonio4_usuario{
                    display: flex;
                    justify-content: space-between;
                 

                    &__imagen{
                     
                        width:200px;
                       

            
                        
                        img{
                            width: 70px;
                            border-radius: 50%;
                            padding: 5px;
    
                        }

                       
                    }

                    &__descripcion-Imagen{
                        margin-left: 10px;
                
                       
                        &__titulo{
                            h2 {
                                color: white;
                                font-size: 15px;
                            }
                          
                        }

                        &__estrella{
                            margin-top: -20px;
                            width:390px;

                            img {
                                width: 35%;
                            }
                        }
                    }
                }      

                &__testimonio4_descripcion{
                    
                    p{
                      
                        padding: 5px;
                        font-size: 13px;
                        line-height: 1.5;

                    }
                }


                &__testimonio5_usuario{
                    display: flex;
                    justify-content: space-between;
                 

                    &__imagen{
                     
                        width:200px;
                       

            
                        
                        img{
                            width: 70px;
                            border-radius: 50%;
                            padding: 5px;
    
                        }

                       
                    }

                    &__descripcion-Imagen{
                        margin-left: 10px;
                
                       
                        &__titulo{
                            h2 {
                                color: white;
                                font-size: 15px;
                            }
                          
                        }

                        &__estrella{
                            margin-top: -20px;
                            width:390px;

                            img {
                                width: 35%;
                            }
                        }
                    }
                }      

                &__testimonio5_descripcion{
                    
                    p{
                      
                        padding: 5px;
                        font-size: 13px;
                        line-height: 1.5;

                    }
                }


            }
    }

    }
}
    


