@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');
$colorNegro:black;
$anchoMenu:320px;
$anchoLogo:150px;
$anchoContenidoCentral:800px;
$tipoLetra:'Roboto', sans-serif;
$letramenu:0.8rem;
$colorrojo:#e8505b;
$colorletraMenu:#fff;
//$altoseccionpidetucomida:280px;
//$anchoseccionpidetucomida-formulario-imagen:280px;
$colorblanco:#fff;